<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./taskcss.css" rel="stylesheet">
    <title>F's Website</title>
</head>
<body>
    <header>
        <nav>
             <a href="#"><img src="./logo.png" alt="logo"width="2%"></a>    
             <div class="links">
                 <a href="#">Home</a>
                 <a href="#">About Us</a>
                 <a href="#">Blog</a>
                 <a href="#">Contact Us</a>
                 <a href="#">Pages</a>
                 <a href="#">Short Code</a>
                </div>
                 <a href="#"> <img src="./maxresdefault.jpg" alt="search here" width="5%"> </a>
                 <button class="btn">Get Started</button>
                
        </nav>
    </header>
    <div class="container">
       
        <section class="txt1">
            <h4 >We are here to</h4>
            <h3 >Lorem ipsum dolor sit amet consectetur </h3>
            <button class="btn1 "> More Detail</button>
        </section>
    </div>
    <div class="block1">
        <div class="block">
                Buisness Solution
        </div>
        <div class="block">
                Markete Research
        </div>
        <div class="block">
                Buisness Strategy
        </div>
        <div class="block">
                Speed Optimization
        </div>
    </div>    
</body>
</html>